@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Arvo", serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#headerStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #203D4D;
}
#headerpic {
    height: 120px;
}

.container {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container2 {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Current balance */
#currentBalance{
    font-size: 40pt;
    font-weight: bolder;
}

/* income and expences */
.divSections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    height: 130px;
    background-color: #ABC6D9;
}

.divSections h3{
    font-size: 14pt;
    font-weight: bolder;
    color: white;
}
.divSections p{
    font-size: 24pt;
    margin: 0;
    color: white;
}



/* Table section */

#activityTable{
    width: 300px;
}
tbody{
    max-width: 80% !important;
}
tr{
    border: 10px solid white !important;
    height: 50px;
    margin: 20px;
    background-color: #c6d9e9a8;
}

td {
    padding: 20;
}
.tableDescript{
    padding-left: 10px;
    width: 50%;
    
}
.tableAmount{
    width: 35%;
    text-align: right;
}
.tableDelete{
    width: 12%;
    text-align:center;
    cursor: pointer;
}

.tableColorIncome{
    background-color: rgb(73, 179, 73);
}
.tableColorExpense{
    background-color: rgb(221, 92, 92);
}

/* Transactions */
#transactionButtons {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#transactionButtons button{
    margin: 15px 15px;
    padding: 25px;
}



/* Modal windows */
.modal-header{
    background-color: #ABC6D9;
}

/* Images*/
.gifs {
    margin: 0px 10px;
    height: 9em;
}


/* Footer styles */
.footer {
    color: white;
    background: #3C5E7C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 0px 0px; 
}

.imgFooter {
    display: flex;
    justify-content: space-between;
}

.RRSS {
    margin: 10px 10px;
    height: 2em;
}

.footer h6 {
    font-size: 10pt;
}



@media screen and (min-width: 768px) {

    #headerpic {
        height: 250px;
    }
    .container2 {
        flex-direction: row;
        }

    #activityTable{
        width: 500px;
    }

    .divSections{
        flex-direction: column;
        margin: 0px 20px;
        width: 250px;
    }
    .divSections{
        margin: 20px 20px;
        width: 280px;
        max-width: 320px;
        height: 150px;
    }

    .divSections h3{
        font-size: 12pt;
    }
    .divSections p{
        font-size: 26pt;
    } 

    #transactionButtons {
        padding: 15px 40px;
        flex-direction: row;
    }
    #transactionButtons button{
        margin: 0px 20px;
        padding: 20px;
    }

    .footer {
        flex-direction: row;
    }

    .RRSS {
        margin: 0px 10px 10px 20px;
    }

    .footer h6 {
        font-size: 12pt;
    }
}
