.footer {
    background: #686d65;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.imgFooter {
    display: flex;
    justify-content: space-between;
}

.RRSS {
    margin: 0px 10px;
    height: 2em;
}

.footer h6 {
    font-size: 10pt;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .footer h6 {
        font-size: 18pt;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
