/*Ajustes generales*/

@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Arvo", serif;
}

.main {
    display: flex;
    align-content: center;
}

p {
    font-size: 12pt;
}

.tittle {
    color: #686d65;
    font-family: "Caveat", cursive;
    font-size: 30pt;
    margin: 20px 0px;
}

.container {
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-colored {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #9bc4cb5b;
}

.separator {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    width: 85%;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #8b8b8b;
}

.separator span {
    color: #8b8b8b;
}

/*Menú principal*/

.navbar {
    background-color: #e2fadb;
    display: flex;
    justify-content: flex-end;
}

/*Menú hamburguessa*/
#menu {
    z-index: 2;
}

#menu-bar {
    width: 50px;
    height: 50px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #686d65;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #686d65, #686d65);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-70%, -20%);
}

.logo {
    max-width: 180px;
    min-width: 100px;
    padding: 1% 10%;
}

.imgDesktop {
    max-width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .divImg {
        display: flex;
        justify-content: center;
    }

    .container {
        padding: 40px 60px;
    }

    p {
        font-size: 18pt;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #menu-bar {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding: 20px 50px;
        position: relative;
        top: 6.5em;
    }

    .nav li {
        padding: 12px 17px;
    }

    .nav li a {
        color: #686d65;
        font-size: 16pt;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .tittle {
        font-size: 60pt;
        margin: 20px 0px;
    }

    .container {
        padding: 15px 120px;
    }

    .nav ul {
        padding: 20px 120px;
        position: relative;
        top: 6.5em;
    }

    .nav li {
        padding: 15px 20px;
    }

    .nav li a {
        font-size: 20pt;
    }
}
